@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model SelectList
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@*
    SenderId,
    AccountId,
    Amount
*@
<div class="mt-3">
    
    <form asp-action="SendMoney" method="post" class="w-75 mx-auto">
        <div class="mb-3">
            <label>Göndereceğiniz Hesap Numarası : </label>
            <input type="hidden" name="SenderId" value="@ViewBag.SenderId" />
            <select class="form-select" asp-items="@Model" name="AccountId">
            </select>
        </div>

        <div class="mb-3">
            <label>Göndereceğiniz Tutar : </label>
            <input type="number" name="Amount" class="form-control" />
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Para Gönder</button>
        </div>


    </form>
</div>